---
import Layout from '@/layouts/Layout.astro';
import ImportantNews from '@/components/ImportantNews.astro';
import News1 from '@/components/News1.astro';
import Trends from '@/sections/Trends.astro';
import PreFooter from '@/components/PreFooter.astro';
import { getPageInfo } from '@/lib/wp';

const { title, content, date } = await getPageInfo('home');
---

<Layout 
title={title} 
description={content}
>
    <ImportantNews />   
    <main>
        <News1 />
        <Trends />
        <PreFooter />
    </main>
</Layout>
